@keyframes page-load {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

.page-loading::before {
    content: " ";
    display: block;
    position: fixed;
    z-index: 10;
    height: 2px;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #06D;
    animation: page-load ease-out 2s;
}
