/* @media screen and (min-width: 800px) {
    .main_mobile_nav {
        display: none;
    }
} */

/* -------------------------------------------------------------------------------- */


.main_mobile_nav  .nav-content {
    width: 100%;
    display: fixed;
    
    margin: auto;
    box-sizing: border-box;
    /* border-radius: 12px; */
    background: #fff;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.nav_section_mobile{
    bottom: 0px;
    /* padding: 5px; */
    position: fixed;
    width: 100%;
    z-index: 10;
}

@media screen {
    
}

/* -------------------------------------------------------------------------------- */
.nav-content{
    background-color: #4070F4;
    display: flex;
    height: 70px;
    align-items: center;
    list-style: none;
}
.link-item{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 120px;
    width: 80px;
    text-decoration: none;
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.link-item.active{
    transform: translateY(-10px);
}
.link-icon{
    font-size: 38px;
    color: #999;
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.link-item.active .link-icon{
    color: #1db954;
}
.link-text{
    position: absolute;
    font-size: 12px;
    font-weight: 500;
    color: #1db954;
    opacity: 0;
    transform: translateY(32px);
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.link-item.active .link-text{
    opacity: 1;
}