/* ========================================================= All Customer Edits */
.image-rec-full {
    object-fit: scale-down;
    width: 100px;
    height: 100px;
}

.image-in-circle-125 {
    object-fit: cover;
    /* display: block; */
    width: 125px;
    height: 125px;
    border-radius: 50%;
}

.image-in-circle-100 {
    object-fit: cover;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.image-in-circle-75 {
    object-fit: cover;
    width: 75px;
    height: 75px;
    border-radius: 50%;
}

.image-in-circle-50 {
    object-fit: cover;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.image-in-box {
    width: 75px;
    /* height: 75px; */
}

.img-container {
    position: relative;
    display: inline-block; /* Ensures the container size is based on its content */
}

.delete-btn {
    position: absolute;
    top: 5px; /* Adjust this value to position the button vertically */
    right: 5px; /* Adjust this value to position the button horizontally */
    background-color: rgba(0, 0, 0, 0.5); /* Dark circle background */
    color: white;
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    font-size: 20px;
    cursor: pointer;
    z-index: 1; /* Ensures the button is above the image */
}

.delete-btn:hover {
    background-color: rgba(0, 0, 0, 0.8); /* Darker background on hover */
}

.select-btn {
    position: absolute;
    bottom: 5px; /* Adjust this value to position the button vertically */
    right: 5px; /* Adjust this value to position the button horizontally */
    background-color: rgba(255, 255, 255, 0.1); /* Transparent background */
    color: transparent; /* Hide any text content */
    border: 2px solid rgba(255, 255, 255, 0.5); /* Border for checkbox appearance */
    border-radius: 50%;
    width: 18px; /* Decreased width */
    height: 18px; /* Decreased height */
    cursor: pointer;
    z-index: 1; /* Ensures the button is above the image */
}

.select-btn:hover {
    background: linear-gradient(to right, #43e97b 0%, #38f9d7 100%);
}

.select-btn:focus {
    background: linear-gradient(to right, #43e97b 0%, #38f9d7 100%);
}

.active_main_img {
    background: linear-gradient(to right, #43e97b 0%, #38f9d7 100%);
}

.select-text {
    position: absolute;
    bottom: 8px; /* Adjust this value to position the text vertically */
    right: 40px; /* Adjust this value to position the text horizontally */
    font-size: 12px; /* Adjust the font size as needed */
    color: rgba(0, 0, 0, 0.8); /* Text color */
}



.card-img-container {
    overflow: hidden; /* Ensure that the image is contained within the card */
    height: 220px; /* Set a fixed height for the image container */
    position: relative; /* Position the image container relative to the card */
}

.card-img-container img {
    object-fit: cover; /* Ensure that the image covers the entire container */
    width: 100%; /* Ensure that the image fills the entire container width */
    height: 100%; /* Ensure that the image fills the entire container height */
    position: absolute; /* Position the image absolutely within the container */
    top: 0; /* Position the image at the top of the container */
    left: 0; /* Position the image at the left of the container */
}

.img-container {
    width: 160px;
    height: 160px;
    border-radius: 6px;
    overflow: hidden;
    margin: 0; /* Remove any potential margin */
    padding: 0; /* Remove any potential padding */
}

.img-container img {
    display: block; /* Ensures no inline-block space */
    height: 100%;
    width: 100%;
    object-fit: cover;
    margin: 0; /* Remove any potential margin */
    padding: 0; /* Remove any potential padding */
}



.card-logo {
    height: 120px;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.stock_car_price_section a {
    background: #F4F2F2;
    padding: 14px 28px;
    box-shadow: none !important;
    border-bottom: 3px solid #EDEBEB;
    display: flex;
    justify-content: space-between;
  }

  .stock_car_price_section a-header {
    padding: 0;
  }

  .stock_car_price_section a:last-child {
    border: none;
    border-radius: 0px 0px 16px 16px;
  }

  .stock_car_price_section a p {
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
    color: #23272A;
    text-decoration-line: underline;
    margin-bottom: 0;
  }

  @media screen and (max-width: 500px) {
    stock_car_price_section a p {
      font-size: 14px;
    }
  }

.stock_car_body {
    background: rgba(255, 255, 255, 0.02);
    border: 1px solid #ccc;
    border-radius: 16px;
    margin-bottom: 41px;
}

.Stock_car_image {
    border-radius: 15px 0px 0px 0px;
}

.priceBox{
    border-bottom: 1px #ccc;
}

.stockCarImageEdit{
  position: absolute;
  top: 10px;
  right: 10px;
  /* transform: translate(-50%, -50%); */
}

.stockCarImageDel{
  position: absolute;
  top: 10px;
  right: 50px;
  /* transform: translate(-50%, -50%); */
}

.left-drop-down-btn{
  background-color: #ececec;
  color: #23272A;
  border-radius: 12px;
  justify-content: center;
  align-items: center;
  display: flex;
  margin: 1%;
}

